h1, h2 {
  font-weight: bold;
  text-decoration: underline;
}

#navList {
  list-style-type: none;
  display: block;
}

nav li {
  display: inline;
}
div {
  margin: 20px, 40px, 20px, 40px;
  padding: 20px;
}
#divOne {
  font-type: sans;
  background-color: pink;
  font-family: "Lucida Console", Monaco, monospace

}

#divTwo {
  background-color: blue;
  color: white;
  font-family: "Courier New", Courier, monospace;
  float: left;
  width: 50%;
}

#divThree {
  background-color: yellow;
  color: black;
  font-family: sans-serif;
  float: right;
  width: 50%;
}

#divFour {
  background-color: lightgreen;
  color: black;
  font-family: Times;
}

#divFive {
  background-color: orange;
  color: black;
}

.highlight {
  background-color: pink;
}

.futh1 {
  font-family: comic;
}

.futp {
  font-family: "Lucida Console", Monaco, monospace
}

.hobbies {
  column-count: 2;

}
